@import "../../../styles.scss";

.search-card {
    margin: 10% 15%;
    background-color: mat-color($theme-primary, 500);
}

.search-card mat-card-header {
    display: flex;
    justify-content: center;
}

.search-card mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}

.logo {
    padding: 0;
    margin: -7% -5%;
    width: 50%;
}

.form-container {
    margin-top: -1px;
    background: white;
    padding: 0.5em 1em;
}

.search-input {
    min-width: 33ch;
}

.mat-form-field {
    margin: 0 10px;
}
