// Color scheme at: https://coolors.co/2a2d34-009ddc-eaebec-f26430-f14141
// Color shades generator: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// Color contrast finder: https://contrast-finder.tanaguru.com/

$foreground-color: #2a2d34;
$backgroud-color: #eaebec;

$orange-p: (
    50: #fff7e1,
    100: #ffeab3,
    200: #ffdd83,
    300: #ffd251,
    400: #ffc62d,
    500: #ffbd15,
    600: #ffaf11,
    700: #fe9c11,
    800: #fd8b11,
    900: #fc6c11,
    A100: #ffffff,
    A200: #fffaf3,
    A400: #ffe3c0,
    A700: #ffd7a7,
    contrast: (
        50: rgba(black, 87),
        100: rgba(black, 87),
        200: rgba(black, 87),
        300: rgba(black, 87),
        400: rgba(black, 87),
        500: rgba(black, 87),
        600: rgba(black, 87),
        700: rgba(black, 87),
        800: rgba(black, 87),
        900: rgba(black, 87),
        A100: rgba(black, 87),
        A200: rgba(black, 87),
        A400: rgba(black, 87),
        A700: rgba(black, 87),
    ),
);

$blue-p: (
    50: #e9ecff,
    100: #c8ceff,
    200: #a1afff,
    300: #758eff,
    400: #4e73ff,
    500: #1557ff,
    600: #0c4ef3,
    700: #0043e6,
    800: #0037db,
    900: #001dcb,
    A100: #ffffff,
    A200: #f3f5ff,
    A400: #c0c7ff,
    A700: #a7b0ff,
    contrast: (
        50: rgba(black, 87),
        100: rgba(black, 87),
        200: rgba(black, 87),
        300: rgba(black, 87),
        400: rgba(black, 87),
        500: rgba(white, 87),
        600: rgba(white, 87),
        700: rgba(white, 87),
        800: rgba(white, 87),
        900: rgba(white, 87),
        A100: rgba(black, 87),
        A200: rgba(black, 87),
        A400: rgba(black, 87),
        A700: rgba(black, 87),
    ),
);

$red-p: (
    50: #fde9e7,
    100: #ffcbbb,
    200: #ffa98f,
    300: #ff8761,
    400: #ff6b3e,
    500: #ff4e19,
    600: #ff4815,
    700: #f1400f,
    800: #e33809,
    900: #cb2800,
    A100: #ffffff,
    A200: #ffc2c7,
    A400: #ffa8b0,
    A700: #ff99a2,
    contrast: (
        50: rgba(black, 87),
        100: rgba(black, 87),
        200: rgba(black, 87),
        300: rgba(black, 87),
        400: rgba(black, 87),
        500: rgba(black, 87),
        600: rgba(black, 87),
        700: rgba(black, 87),
        800: rgba(black, 87),
        900: rgba(white, 87),
        A100: rgba(black, 87),
        A200: rgba(black, 87),
        A400: rgba(black, 87),
        A700: rgba(black, 87),
    ),
);
