@import "theme.scss";

/* You can add global styles to this file, and also import other style files */
html,
body {
    min-height: 100% !important;
    height: 100%;
}

body {
    margin: 0;
    font-family: $app-font;
}

.default-snackbar {
    padding: 0 !important;
}
