.container {
    height: 4em;
}

.menu-button {
    color: white;
    font-size: 2em;
}

.logo {
    width: 5em;
}

.search-form {
    margin-left: 3em;
    font-size: 16px;

    .mat-form-field {
        min-width: 23ch;
    }
}

.search-icon {
    display: inline-flex;
    vertical-align: bottom;
    margin-bottom: -0.15em;
}
